<%- layout('layouts/boilerplate') %>
<h1 class="mb-3">Login</h1>
<div class="col-8">
    <form action="/login" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" class="form-control" name="password">
        </div>
        <button class="btn btn-success">Login</button>
    </form> 
</div>